<!doctype html>
<html lang="en">

<head>
    {% include 'parciais/_head.html' %}
    <title>{% block titulo %}{% endblock %}Reserva | Site Clone | Roupa masculina é Reserva</title>
    <link rel="icon" href="/media/produto_imagens/2024/04/icone-reserva.png" type="image/png">
</head>

<body>
    {% include 'parciais/_nav.html' %}

    <main class="container mt-4 mb-4">
        {% include 'parciais/_messages.html' %}
        {% block conteudo %} {% endblock %}
    </main>

    {% include 'parciais/_footer.html' %}

</body>

</html>